.link {
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    font-weight: var(--font-bold);
    color: var(--color-yellow);
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.link__img{
    width: 20px;
    height: 26px;
    display: inline-block;
    margin-right: var(--spasing-small);
    object-fit:  cover;
    object-position: center center;
}